* {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

.navbar__options {
    color: gray;
    
}

.navbar__options li {
    display: inline;
}

.navbar__options li:hover {
    cursor: pointer;
    color: yellow;
}

.container {
    text-align: center;
    margin: 45px auto;
}

.container__box {
    border: 2px solid black;
    display: inline-block;
    width: 200px;
    height: 360px;
    text-align: center;
}

.container__box:hover {
    cursor: pointer;
    background: #a2f2d7;
}

.container__box img {
    width: 200px;
    height: 250px;
}

.container__box button {
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    padding: 10px 8px;
    margin: 5px;
    border: none;
}

.container__box button:hover {
    cursor: pointer;
    background-color: green;
}

.contact {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

.contact__form {
    margin: 10px auto;
    display: inline-block;
    width: 300px;
    margin-left: 80px;
}

.contact__table {
    text-align: left;
}

.contact__table th {
    padding-right: 10px;
}

.contact__form button{
    background-color: yellow;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    width: 350px;
    height: 20px;
    margin-top: 10px;
    text-align: center;
    border: none;
    transform: translateX(-20%);

    &:hover{
        background-color: green;
        color: white;
        cursor: pointer;
    }
}







