/* Most Wanted */
.mostWanted {
    width: 90%;
    margin: 0 auto;
    margin-top: var(--16px);
}

.mostWanted__productContainer {
    margin-top: var(--16px);
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding-bottom: var(--10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--10px);
}

.mostWanted__product {
    width: var(--200px);
    height: var(--200px);
    position: relative;
}

.mostWanted__product img {
    width: var(--200px);
    height: var(--200px);
    border-radius: var(--10px);
}

.saveBtn {
    background: red;
    color: var(--white);
    font-size: var(--16px);
    border: none;
    outline: none;
    border-radius: var(--10px);
    padding: var(--5px) var(--10px);
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 1;
}
 
.saveBtn:hover {
    background: green;
    font-weight: bold;
}

.heart {
    width: var(--30px);
    height: var(--30px);
    position: absolute;
    bottom: 5%;
    right: 5%;
    z-index: 1;
}

.heart:hover {
    cursor: pointer;
    fill: red;
    stroke: red;
}