/* Offer Banner */
.offerBanner {
    padding: var(--10px);
    background: var(--black);
    color: var(--white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: var(--20px);
}

#offerCloseIcon {
    padding: var(--5px);
    background: var(--black);
    color: var(--white);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
}

/* Navigation */
.navbar {
    width: 100%;
    padding: var(--5px) var(--20px);    
    margin: 0 auto;
    margin-top: var(--16px);    
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 3;
    background: var(--white);
}

.navbar__title {
    font-size: var(--32px);
    font-weight: bolder;
}

.navList {
    list-style-type: none;
}

.navList li {
    display: none;
    margin-right: var(--20px);
}

.navList li a {
    color: var(--black);
    text-decoration: none;
    font-size: var(--20px);
}

.navList li a:hover {
    font-weight: 700;
    padding-bottom: var(--5px);
    border-bottom: 2px solid var(--black);
}

#menubar {
    width: var(--24px);
    height: var(--24px);
}

.sideNavbarContainer {
    background: var(--black);
    color: var(--white);
    width: 50%;
    height: 100vh;
    z-index: 10;
    position: fixed;
    top: 0;
    left: -50%;
    transition: all 1s ease-in-out;
}

#sideNavbar__close {
    padding: var(--20px);
    text-align: right;
    font-weight: bold;
}

.sideNavList {
    width: 80%;
    height: 50%;
    padding-left: var(--20px);
    list-style-type: none;
}

.sideNavList li {
    padding-bottom: var(--20px);
}

.sideNavList li a {
    color: var(--white);
    text-decoration: none;
    font-size: var(--16px);    
}

.sideNavList li a:hover {
    font-weight: 700;
    padding-bottom: var(--5px);
    border-bottom: 2px solid var(--white);
}