/* Slider */
.slider {
    width: 90%;
    height: 25vh;
    margin: 0 auto;
    margin-top: var(--16px);
    border-radius: var(--10px);
    position: relative;
    display: flex;
    overflow: hidden;
}

.slider::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlayBlack);
    border-radius: var(--10px);
    z-index: 1;
}

.slider__imgContainer {
    /* width: 100%;
    height: 100%; */
    border-radius: var(--10px);
    display: flex;
    /* overflow-x: scroll; */
    /* overflow: hidden; */
    transition: 1s ease-in-out;
}

/* .slider__imgContainer::-webkit-scrollbar {
    display: none;
} */

.slider__imgContainer img {
    width: 100vw;
    /* height: 100%; */
    flex: none;
}

.slider a {
    color: var(--white);
}

.slider a svg {
    width: var(--30px);
    height: var(--30px);
}

#sliderLeftArrow {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    z-index: 2;
}

#sliderRightArrow {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    z-index: 2;
}

.sliderContent {
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 10%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--10px);
}

.sliderTitle {
    color: var(--white);    
    font-size: var(--16px);
    text-align: center;
}

.showNowBtn {
    border-radius: var(--10px);
}

.showNowBtn span {
    font-size: var(--16px);
}

.showNowBtn:hover {
    font-weight: bold;
}