/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #1D232C;
    --white: #FFF;
    --light-gray: #F2F4F7;
    --light-blue: #48CFCB;
    --dark-cyan: #229799;    
    --overlayBlack: rgba(0, 0, 0, 0.6);
    --1px: 0.0625rem;
    --2px: 0.125rem;
    --5px: 0.3125rem;
    --10px: 0.625rem;
    --13px: 0.8125rem;
    --16px: 1rem;
    --20px: 1.25rem;
    --24px: 1.5rem;
	--28px: 1.75rem;
    --30px: 1.875rem;
    --32px: 2rem;
    --36px: 2.25rem;
    --40px: 2.5rem;
    --48px: 3rem;
    --150px: 9.375rem;
    --200px: 12.5rem;
    --250px: 15.625rem;
    --300px: 18.75rem;
    --450px: 28.125rem;
}

/* 
.nunito-<uniquifier> {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/

body {
    font-family: "Nunito", sans-serif;
}

.btn {
    padding: var(--10px) var(--20px);
    font-family: "Nunito", sans-serif;
    font-size: var(--16px);
    font-weight: 500;
    border: none;
    outline: none;
}

.btn:hover {
    cursor: pointer;
}

/* Used the below 2 classes in New Arrivals, Most Wanted sections */
.initial-scroll-animate {
    transition: 3s;
}

.reveal-scroll-animate {
    opacity: 0;
}

/* 
z-index Info:
.slider::after - 1
#sliderLeftArrow - 2
#sliderRightArrow - 2
.navbar - 3
.sideNavbarContainer - 10
.newArrivals__product::after - 1
.shopNowBtn - 2
.saveBtn - 1
.heart - 1
*/