/* AI Beta Section Start */
.ai-beta {
    margin: var(--48px) auto;
    width: 100%;
    height: 70%;
    padding: 0 10rem;
    position: relative;
}

.ai-beta img {
    width: 100%;
    height: 80%;
}

.ai-beta__textarea {
    color: white;
    width: 35%;
    position: absolute;
    top: 15%;
    left: 15%;
    z-index: 1;
}

.ai-beta__textarea__p1 {
    font-size: var(--13px);
}

#beta-btn {
    padding: 3px var(--5px);
    border-radius: var(--5px);
    background: white;
    color: black;
    font-size: var(--13px);
    font-weight: bold;
    margin-left: var(--5px);
}

.ai-beta__textarea__title {
    font-size: var(--48px);
    font-weight: 800;
    line-height: 1.5cm;
    margin-top: var(--5px);
}

.ai-beta__textarea__p2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: var(--10px);
}

.ai-beta__button {
    background: var(--light-violet);
    color: #301D49;
    padding: var(--16px) var(--20px);
    margin-top: var(--16px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ai-beta__button:hover {
    cursor: pointer;
    background: var(--dark-violet);
}
/* AI Beta Section End */