@media screen and (min-width: 1440px) {
    .main-nav, 
    .ai-beta,
    .main-s1, 
    .main-s2, 
    .main-s3, 
    .main-s4, 
    .main-s5, 
    .main-s6 {
        margin: 1.5rem 8rem;
    }
    
    .ai-beta, 
    .main-s6 {
        width: 82%;
    }

    .ai-beta__textarea {
        width: 40%;
        position: absolute;
        top: 20%;
        left: 10%;
        z-index: 1;
        /* border: 2px solid red; */
    }

    .main-s7 {
        margin: 2rem auto;
        padding: 1rem 2rem;
    }

    .footer {
        width: 95vw;
    }
}