/* Media Queries Start */
@media screen and (min-width: 375px) {
    /* Main Section 1 Start */
    .main-s1__img-container__a, 
    .main-s1__img-container__a img, 
    .main-s1__img-container__a::before {
        width: 215px;
        height: 215px;
    }
    /* Main Section 1 End */

    /* Main Section 2 Start */
    .main-s2__card__img, 
    .main-s2__img-container:hover::after {
        width: 270px;
        height: 170px;
    }
    /* Main Section 2 End */

    /* Main Section 3 Start */
    .main-s3__card__img {
        width: 215px;
        height: 215px;
    }

    .main-s3__card:hover::after {
        width: 215px;
    }
    /* Main Section 3 End */

    /* Main Section 4 Start */
    .main-s4__img-container:hover::after, 
    .main-s4__img-container > img {
        width: 270px;
        height: 170px;
    }
    /* Main Section 4 End */

    /* Main Section 5 Start */
    .main-s5__img-container__a {
        width: 215px;
        height: auto;
    }

    .main-s5__img-container__a img, 
    .main-s5__img-container__a::before {
        width: 215px;
        height: 215px;
    }
    /* Main Section 5 End */

    /* Main Section 6 Start */
    .main-s6__biker {
        width: 330px;
        height: 330px;
    }

    .main-s6__main-description {
        position: absolute;
        top: 65%;
        left: 5%;
    }

    .main-s6__main-description h1 {
        font-size: var(--30px);
    }
    /* Main Section 6 Start */

    /* Footer Start */
    .footer {
        padding-bottom: var(--32px);
    }
    /* Footer End */
}
/* Media Queries End */