/* Media Queries Start */
@media screen and (min-width: 320px) {
    /* Navbar Start */
    .main-nav {
        margin-left: var(--24px);
        margin-right: var(--24px);
        padding-top: var(--20px);
        padding-bottom: var(--20px);
        /* background: white; */
    }

    .navbar-s2, .navbar-s3 {
        display: none;
    }

    .navbar-s0 svg, .navbar-s5 svg {
        display: block;
    }

    /* .navbar-s6 {
        display: block;
        width: 100vw;
    }

    .navbar-s6 .where-to__list {
        display: inline;
    } */

    .navbar-s1 img {
        width: var(--30px);
        height: var(--30px);
    }

    .navbar-s1__title {
        font-size: var(--20px);
    }

    .main-nav {
        margin-bottom: var(--32px);
    }
    /* Navbar End */

    /* Search Start */
    .where-to {
        margin-left: var(--24px);
        margin-right: var(--24px);
    }

    .where-to h1, .where-to__list {
        display: none;
    }

    .search-bar {
        padding: var(--10px);
        width: 100%;
        border-radius: var(--10px);
        box-shadow: 0px 0px 3px 1px rgb(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .search-bar__s1 {
        width: 90%;
        border-bottom: var(--1px) solid black;
    }

    .search-bar__button {
        margin-top: var(--20px);
        margin-bottom: var(--20px);
        padding-top: var(--16px);
        padding-bottom: var(--16px);
        width: 100%;
    }
    /* Search End */
    
    /* AI Beta Section Start */
    .ai-beta {
        margin: var(--48px) auto;
        width: 100vw;
        height: 100vh;
        background: black;
        background-image: url('https://static.tacdn.com/img2/trips/home-gai-entry-gateway-mv.jpg');
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        /* border: 2px solid red; */
    }

    .ai-beta img {
        display: none;
    }

    .ai-beta__textarea {
        width: 85%;
        text-align: center;
        position: absolute;
        top: 5%;
        left: 8%;
        z-index: 1;
        /* border: 2px solid red; */
    }

    .ai-beta__textarea__title {
        font-size: var(--32px);
        line-height: 1cm;
        margin-top: var(--10px);
    }

    .ai-beta__textarea__p2 {
        font-size: var(--16px);
        font-weight: 500;
    }

    .ai-beta__button {
        margin: var(--16px) auto;
    }
    /* AI Beta Section End */

    /* Main Section 1 Start */
    .main-s1, 
    .main-s2, 
    .main-s3, 
    .main-s4, 
    .main-s5, 
    .main-s7, 
    .footer {
        margin-left: var(--24px);
        margin-right: var(--24px);
    }

    .main-s1__title, 
    .main-s2__title, 
    .main-s3__title, 
    .main-s5__title {
        font-size: var(--20px);
        font-weight: 600;
    }

    .main-s1__sub-title, 
    .main-s2__sub-title, 
    .main-s3__sub-title,
    .main-s5__sub-title {
        font-weight: normal;
    }

    .main-s1__img-container {
        height: 190px;
        overflow-x: auto;
        /* overflow-y: hidden; */
        white-space: nowrap;
    }

    .main-s1__img-container__a, 
    .main-s1__img-container__a img, 
    .main-s1__img-container__a::before {
        width: 180px;
        height: 180px;
    }

    .arrow-container {
        display: none;
    }
    /* Main Section 1 End */
     
    /* Main Section 2 Start */
    .main-s2__card-container {
        height: auto;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;        
    }

    .main-s2__card__img, 
    .main-s2__img-container:hover::after {
        width: 225px;
        height: 145px;
    }

    .card__city {
        width: 80%;        
    }

    .card__city p {
        text-align: center;
        text-wrap: wrap;
    }    
    /* Main Section 2 End */
    
    .main-s3, 
    .main-s4, 
    .main-s5, 
    .main-s6,
    .main-s7,  
    .footer {
        display: none;
    }
}
/* Media Queries End */

/* .main-s1, 
    .main-s2, 
    .main-s3, 
    .main-s4, 
    .main-s5, 
    .main-s7, 
    .footer {
        padding: 0 10rem;
    } */