@media screen and (min-width: 768px) {
    /* Navbar Start */
    .navbar-s5 svg {
        display: none;
    }

    .navbar-s3 {
        display: block;
    }

    .navbar-s3__language-selector {
        display: none;
    }

    .navbar-s3 .black-button {
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }

    .navbar-s1 {
        justify-content: flex-start;
        margin-left: var(--10px);
    }

    .main-nav {
        justify-content: flex-start;
        position: relative;
    }
    /* Navbar End */

    /* Search Start */
    .where-to h1, .where-to__list {
        display: block;
    }

    .where-to__list li {
        margin-right: var(--10px);
    }

    .search-bar {
        padding: var(--5px);
        width: 100%;
        border-radius: var(--48px);
        box-shadow: 0px 0px 3px 1px rgb(0, 0, 0, 0.5);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .search-bar__s1 {
        margin-left: var(--10px);
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: none;
        /* border: 2px solid green; */
    }
    
    .search-bar__s1 svg:hover {
        cursor: pointer;
    }
    
    .search-bar__input {
        border: none;
        outline: none;
        padding: var(--10px);
        background: transparent;
        width: 100%;
        font-size: var(--16px);
    }

    .search-bar__button {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: var(--16px);
        padding-bottom: var(--16px);
        width: auto;
    }
    /* Search End */

    /* AI Beta Section Start */
    .ai-beta {
        margin: var(--48px) auto;
        width: 720px;
        height: auto;
        background-color: transparent;
        background-image: none;
        background-position: center;
        background-size: cover;
    }

    .ai-beta img {
        display: block;
    }

    .ai-beta__textarea {
        width: 50%;
        text-align: left;
        position: absolute;
        top: 10%;
        left: 5%;
        z-index: 1;
        /* border: 2px solid red; */
    }

    .ai-beta__button {
        margin-left: 0;
    }
    /* AI Beta Section End */

    /* Main Section 5 Start */
    .main-s5__img-container__a h2 {
        font-size: var(--20px);
    }
    /* Main Section 5 End */

    /* Main Section 6 Start */
    .main-s6, 
    .main-s6__biker, 
    .main-s6__main-description, 
    .main-s6__sponsor {
        position: static;
    }

    .main-s6 {
        display: flex;
        gap: var(--16px);
        height: auto;
    }

    .main-s6__desc {
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-s6__sponsor {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--5px);
        margin-bottom: var(--10px);
    }
    
    .trip-advisor-img {
        width: var(--30px);
        height: var(--30px);
    }
    
    .main-s6__sponsor__link {
        color: black;
    }
    
    .main-s6__sponsor__link:hover {
        cursor: pointer;
        color: var(--text-hover-bg);
    }
    
    .main-s6__main-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .main-s6__main-description h1 {
        font-weight: 600;
    }
    
    .main-s6__p {
        margin-bottom: var(--16px);
    }
    /* Main Section 6 End */

    /* Main Section 7 Start */
    .main-s7 {
        flex-direction: row;
    }
    /* Main Section 7 End */

    /* Footer Start */
    .footer-s6 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--10px);
    }

    .footer-s6__selection:nth-child(2) {
        margin-top: 0;
    }
    /* Footer End */
}