/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(245, 245, 245);
    --secondary-color: #34E0A1;
    --button-hover-bg: rgba(128, 128, 128, 0.1);
    --text-hover-bg: rgba(0, 0, 0, 0.7);
    --light-violet: #DFD3EE;
    --dark-violet: rgb(195, 147, 253);
    --2px: 0.125rem;
    --5px: 0.3125rem;
    --10px: 0.625rem;
    --13px: 0.8125rem;
    --16px: 1rem;
    --20px: 1.25rem;
    --24px: 1.5rem;
    --30px: 1.875rem;
    --32px: 2rem;
    --40px: 2.5rem;
    --48px: 3rem;
    --64px: 4rem;
}

body {
    background: var(--primary-color);
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

/* Navbar Start */
nav {
    padding: var(--10px);
    margin: var(--16px) auto;
    padding: 0 10rem;
    /* border: 2px solid red; */
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--16px);
    /* border: 2px solid red; */
}

.navbar-s1 {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--10px);
    /* border: 2px solid red; */
}

.navbar-s1 img {
    width: var(--48px);
    height: var(--48px);
}

.navbar-s1__image:hover, 
.navbar-s1__title:hover {
    cursor: pointer;
}

.navbar-s2 {
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
}

.navbar-s2 ul {
    list-style-type: none;
}

.navbar-s2 ul li {
    display: inline;
}

.navbar-s2__list-item {
    padding: var(--10px);
    border-radius: var(--30px);
}

.navbar-s2__list-item:hover {
    background: var(--button-hover-bg);
    cursor: pointer;
}

#forum:hover {
    cursor: pointer;
    color: var(--text-hover-bg);
    text-decoration: underline;
}

.navbar-s3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--5px);
    /* border: 2px solid red; */
}

.navbar-s3__language-selector {
    padding: var(--10px) var(--20px);
    background: transparent;
    display: flex;
    justify-content: center;
    align-content: space-around;  
    align-items: center;  
    gap: var(--5px);
    border: none;
    outline: none;
    /* border: 2px solid red; */
}

.navbar-s3__language-selector img {
    width: var(--16px);
    height: var(--16px);
}

#bar {
    color: rgba(0, 0, 0, 0.4);
    font-size: var(--20px);
}

.navbar-s3__language-selector span {
    font-size: var(--16px);
    font-weight: 600;
}

.navbar-s3__language-selector:hover {
    border-radius: var(--30px);
    background: var(--button-hover-bg);
    cursor: pointer;
}

.black-button {
    padding: var(--10px) var(--20px);
    border: none;
    outline: none;
    background: black;
    color: white;
    border-radius: var(--30px);
    font-family: "Poppins", sans-serif;
    font-size: var(--16px);
    font-style: normal;
    font-weight: 600;
}

.black-button:hover {
    cursor: pointer;
    background: rgb(0, 0, 0, 0.8);
}

.navbar-s4 {
    display: none;
}

.navbar-s4 ul {
    list-style-type: none;
    display: flex;
    gap: var(--20px);
    font-weight: 600;
}

.navbar-s4 li {
    padding-bottom: var(--10px);
}

.navbar-s4 li:hover {
    cursor: pointer;
    border-bottom: var(--2px) solid black;
}
/* Navbar End */

/* Search Start */
.where-to {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 10rem;
    /* border: 2px solid red; */
}

.where-to h1 {
    font-size: var(--48px);
    font-weight: 900;
    margin-bottom: var(--20px);
}

.where-to__list {
    list-style-type: none;
    margin-bottom: var(--40px);
}

.where-to__list li {
    display: inline;
    margin-right: var(--20px);
    padding-bottom: var(--10px);
}

.where-to__list li:nth-child(1) {
    border-bottom: var(--2px) solid black;
}

.where-to__list li:hover {
    cursor: pointer;
    color: var(--text-hover-bg);
    border-bottom: var(--2px) solid var(--text-hover-bg);
}

.search-bar {
    padding: var(--5px);
    width: 65%;
    border-radius: var(--48px);
    box-shadow: 0px 0px 3px 1px rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar__s1 {
    width: 80%;
    margin-left: var(--10px);
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid green; */
}

.search-bar__s1 svg:hover {
    cursor: pointer;
}

.search-bar__input {
    border: none;
    outline: none;
    padding: var(--10px);
    background: transparent;
    width: 100%;
    font-size: var(--16px);
}

.button {
    padding: var(--10px) var(--20px);
    font-size: var(--16px);
    font-weight: 600;
    border-radius: var(--30px);
    border: none;
    outline: none;
}

.search-bar__button {
    background: var(--secondary-color);
}

.search-bar__button:hover {
    cursor: pointer;
    background: #84E9BD;
}
/* Search End */

/* AI Beta Section Start */
.ai-beta {
    margin: var(--48px) auto;
    width: 100%;
    height: 70%;
    padding: 0 10rem;
    position: relative;
}

.ai-beta img {
    width: 100%;
    height: 80%;
}

.ai-beta__textarea {
    color: white;
    width: 35%;
    position: absolute;
    top: 15%;
    left: 15%;
    z-index: 1;
}

.ai-beta__textarea__p1 {
    font-size: var(--13px);
}

#beta-btn {
    padding: 3px var(--5px);
    border-radius: var(--5px);
    background: white;
    color: black;
    font-size: var(--13px);
    font-weight: bold;
    margin-left: var(--5px);
}

.ai-beta__textarea__title {
    font-size: var(--48px);
    font-weight: 800;
    line-height: 1.5cm;
    margin-top: var(--5px);
}

.ai-beta__textarea__p2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: var(--10px);
}

.ai-beta__button {
    background: var(--light-violet);
    color: #301D49;
    padding: var(--16px) var(--20px);
    margin-top: var(--16px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ai-beta__button:hover {
    cursor: pointer;
    background: var(--dark-violet);
}
/* AI Beta Section End */

/* Main Section 1 Start */
.main-s1, 
.main-s2, 
.main-s3, 
.main-s4, 
.main-s5, 
.main-s7 {
    padding: 0 10rem;
}

.main-s1__title, 
.main-s1__sub-title, 
.main-s2__title, 
.main-s2__sub-title, 
.main-s3__title, 
.main-s3__sub-title, 
.main-s5__title, 
.main-s5__sub-title {
    font-weight: 500;
    margin-bottom: var(--10px);
} 

.main-s1__img-container {
    margin-top: var(--16px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.arrow-container {
    background: white;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.right-arrow {
    width: var(--40px);
    height: var(--40px);
}

.main-s1__img-container__img {
    width: 275px;
    height: 275px;
    border-radius: var(--10px);
    position: relative;
}

.main-s1__img-container__img img {
    width: 275px;
    height: 275px;
    border-radius: var(--10px);
}

.main-s1__img-container__img::before {
    width: 275px;
    height: 275px;
    border-radius: var(--10px);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.014);
    background-image: linear-gradient(0deg, rgba(18, 18, 18, 0.75) 8%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.main-s1__img-container__img h2 {
    position: absolute;
    left: var(--10px);
    bottom: var(--10px);    
    color: white;
    z-index: 1;
}

.main-s1__img-container__img:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
}
/* Main Section 1 End */

/* Main Section 2 Start */
.main-s2, 
.main-s3, 
.main-s4, 
.main-s5, 
.main-s6 {
    margin-top: var(--48px);
}

.main-s2__card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-s2__card {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid salmon; */
}

.main-s2__img-container {
    position: relative;
}

.main-s2__card__img {
    width: 350px;
    height: 200px;
    margin-bottom: var(--16px);
    border-radius: var(--10px);
}

.main-s2__img-container:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.2);
}

.card__name {
    font-weight: 500;
    margin-bottom: var(--5px);
}

.main-s2__mini-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}

.main-s2__mini-card:hover {
    cursor: pointer;
}

.main-s2__mini-card:hover .card__city{
    cursor: pointer;
    color: var(--text-hover-bg);
    text-decoration: underline;
}

.card__city {
    font-weight: 500;
    margin-bottom: var(--10px);
}

.card__name a, .card__city {
    text-decoration: none;
    color: black;
}

.card__name a:hover {
    color: var(--text-hover-bg);
    border-bottom: var(--2px) solid black;
}

.main-s2__card__heart {
    width: var(--20px);
    height: var(--20px);
}

.main-s2__card__items {
    color: var(--text-hover-bg);
}
/* Main Section 2 End */

/* Main Section 3 Start */
.main-s3__sub-title {
    font-weight: 300;
}

.main-s3__card-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.main-s3__card {
    width: 275px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.main-s3__card:hover::after {
    cursor: pointer;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 275px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
}

.main-s3__card__img-container {
    position: relative;
}

.main-s3__card__img {
    width: 275px;
    height: 275px;
    border-radius: var(--10px);
}

.main-s3__heart-container {
    width: var(--32px);
    height: var(--32px);
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: var(--10px);
    right: var(--10px);
}

.main-s3__heart-container img {
    width: var(--20px);
    height: var(--20px);
}

.main-s3__card__title {
    font-size: var(--16px);
    font-weight: 600;
    margin-top: var(--5px);
    margin-bottom: var(--5px);
}

.main-s3__card__p1 {
    font-size: var(--13px);
    color: var(--text-hover-bg);
}

.main-s3__card__p2 {
    font-size: var(--13px);
    font-weight: 600;
}
/* Main Section 3 End */

/* Main Section 4 Start */
.main-s4 {
    background: #F2F1EC;
}

.main-s4__title {
    padding-top: var(--24px);
    padding-bottom: var(--16px);
    font-weight: 500;
}

.main-s4__card-container {
    padding-bottom: var(--48px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
}

.main-s4__card {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-s4__img-container {
    position: relative;
}

.main-s4__img-container:hover::after {
    cursor: pointer;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: 250px;
    background: rgba(255, 255, 255, 0.2);
}

.main-s4__img-container > img {
    width: 350px;
    height: 250px;
    margin-bottom: var(--20px);
    border-radius: var(--10px);
}

.main-s4__heart-container {
    width: var(--32px);
    height: var(--32px);
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: var(--10px);
    right: var(--10px);
}

.main-s4__heart-container img {
    width: var(--20px);
    height: var(--20px);
}

.main-s4__card a {
    font-size: var(--16px);
    color: black;
    font-weight: 500;
    text-align: center;
}

.main-s4__card a:hover {
    color: var(--text-hover-bg);
}
/* Main Section 4 End */

/* Main Section 5 Start */
.main-s5__title {
    font-size: var(--30px);
    font-weight: bold;
}

.main-s5__sub-title, 
.main-s5__sub-title1 {
    font-size: var(--24px);
    font-weight: 600;
}

.main-s5__sub-title1 {
    margin-top: var(--48px);
}
/* Main Section 5 End */

/* Main Section 6 Start */
.main-s6 {
    margin: var(--64px) 10rem;
    padding: var(--10px);
    width: 1200px;
    height: 500px;
    background: var(--light-violet);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-s6__biker {
    width: 450px;
    height: 450px;
}

.main-s6__desc {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-s6__sponsor {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--5px);
    margin-bottom: var(--10px);
}

.trip-advisor-img {
    width: var(--30px);
    height: var(--30px);
}

.main-s6__sponsor__link {
    color: black;
}

.main-s6__sponsor__link:hover {
    cursor: pointer;
    color: var(--text-hover-bg);
}

.main-s6__main-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-s6__main-description h1 {
    font-weight: 600;
}

.main-s6__p {
    margin-bottom: var(--16px);
}
/* Main Section 6 End */