/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(245, 245, 245);
    --secondary-color: #34E0A1;
    --button-hover-bg: rgba(128, 128, 128, 0.1);
    --text-hover-bg: rgba(0, 0, 0, 0.7);
    --light-violet: #DFD3EE;
    --dark-violet: rgb(195, 147, 253);
    --light-gray: rgba(163, 163, 163, 0.053);
    --2px: 0.125rem;
    --5px: 0.3125rem;
    --10px: 0.625rem;
    --13px: 0.8125rem;
    --16px: 1rem;
    --20px: 1.25rem;
    --24px: 1.5rem;
    --30px: 1.875rem;
    --32px: 2rem;
    --40px: 2.5rem;
    --48px: 3rem;
    --64px: 4rem;
}

body {
    background: var(--primary-color);
    font-family: "Poppins", sans-serif;
    font-style: normal;
}