* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Young Serif", serif;
}

/* Adding Basic Styles Start */
.container {
    padding: 40px;
}

.section-one {
    background: #1A1A19;
    color: #F6FCDF;
    padding: 20px;
}

.section-one__name {
    font-size: 40px;
}

.section-one__role {
    font-size: 25px;
    margin-top: 10px;
}

.section-one__contact {
    background: #859F3D;
    color: #F6FCDF;
    text-decoration: none;
    padding: 5px 10px;
    /* Since <a> tag is inline element, it clashes with previous <p> element. So changing it from "inline" to "inline-block" */
    display: inline-block;
    margin-top: 10px;
}

.section-one__contact:hover {
    transform: scale(1.05);
}

.section-two, .section-three, .section-four, .section-five {
    margin-top: 20px;
}

.section-two__desc, .section-three__desc, .section-four__desc, .section-five__desc {
    margin-top: 10px;
}

.section-three li, .section-four li {
    list-style: none;
}
.section-five {
    background: #1A1A19;
    color: #F6FCDF;
    padding: 20px;
}

.section-five__title a {
    color: skyblue;
}

.section-five__title a:hover {
    color: #859F3D;
}
/* Adding Basic Styles End */

/* Working with Display Properties Start */
.section-three {
    background: #31511E;
    color: #F6FCDF;
    padding: 20px;
    display: inline-block;
    height: 200px;
    border-radius: 10px;
    vertical-align: top;
}

/* Note: When there is an inline / inline-block elements inside a container, based on the content inside the inline / inline-block element, their alignment may change. So use vertical-align to make the changes to the alignment. */

.section-four {
    background: #6c822f;
    color: #F6FCDF;
    padding: 20px;
    display: inline-block;
    height: 200px;
    border-radius: 10px;
    vertical-align: top;
}
/* Working with Display Properties End */

/* Styling Contact Form Start */
.contact-form {
    margin-top: 20px;
}

.contact-form__input,
.contact-form__textarea, 
.contact-form__submit {
    margin-top: 10px;
}

.contact-form__input {
    padding: 10px;
    border: none;
    border-bottom: 1px solid black;
}

.contact-form__textarea {
    padding: 10px;
    border: none;
    border: 1px solid black;
}

.contact-form__submit {
    background: #859F3D;
    font-family: "Young Serif", serif;
    padding: 10px 20px;
    border: none;
    color: #F6FCDF;
}

.contact-form__submit:hover {
    cursor: pointer;
    font-weight: 500;
    transform: scale(1.01);
}
/* Styling Contact Form End */