/* Mediaqueries for Laptop Large */
@media screen and (min-width: 1440px) {
    .sliderTitle {
        font-size: var(--48px);
    }

    .serviceCard {
        width: var(--300px);
    }

    #limitedOffer__title {
        font-size: var(--40px);
    }

    #limitedOffer__subTitle {
        font-size: var(--30px);
    }

    .filterOption {
        font-size: var(--24px);
    }
}