/* Mediaqueries for Laptop */
@media screen and (min-width: 1024px) {
    #menubar {
        display: none;
    }

    .navList li {
        display: inline;
    }

    .slider {
        height: 50vh;
    }

    #sliderTitleSpan {
        display: block;
    }

    .brandLogo p {
        font-size: var(--24px);
        margin-top: var(--16px);
    }

    .customerService__title {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .serviceCardContainer {
        flex-wrap: nowrap;
        gap: 0;
        justify-content: space-between;        
    }

    .serviceCard {
        width: var(--200px);
    }

    .newArrivals__product {
        width: var(--250px);
        height: var(--250px);
    }

    .newArrivals__product img {
        width: var(--250px);
        height: var(--250px);
    }

    .mostWanted__product {
        width: var(--250px);
        height: var(--250px);
    }
    
    .mostWanted__product img {
        width: var(--250px);
        height: var(--250px);
    }

    .limitedOffer {
        gap: var(--24px);
    }

    .footer {
        padding: var(--16px) var(--40px);
    }

    .collections {
        width: 95%;
    }

    .filter {
        width: 20%;
    }

    .filterOption {
        padding-bottom: var(--10px);
        font-size: var(--20px);
    }
}