/* Mediaqueries for Tablet */
@media screen and (min-width: 768px) {
    .offerBanner {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar {
        padding: var(--5px) var(--36px);
    }

    .sideNavbarContainer {
        width: 25%;
    }

    .slider {
        height: 40vh;
    }

    .sliderTitle {
        font-size: var(--36px);
    }

    .brandLogo img {
        width: var(--40px);
        height: var(--40px);
    }

    .brandLogo p {
        font-size: var(--20px);
        margin-top: var(--10px);
    }

    .customerService__title p {
        font-size: var(--20px);
    }

    .limitedOffer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--20px);
    }

    .limitedOffer img {
        width: 40%;
    }

    .limitedOffer__content {
        width: 40%;
    }

    #limitedOffer__title {
        margin-top: 0;
    }

    #limitedOffer__subTitle {
        font-size: var(--24px);
    }

    .limitedOffer .shopNowBtn {
        margin-top: var(--10px);
    }

    .footer {
        padding: var(--16px) var(--36px);
    }

    .socialMedia {
        grid-row: 1;
        grid-column: 3;
    }
}