/* Mediaqueries for Tablet */
@media screen and (min-width: 768px) {
    .offerBanner {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar {
        padding: var(--5px) var(--36px);
    }

    .sideNavbarContainer {
        width: 25%;
    }

    .slider {
        height: 40vh;
    }

    .sliderTitle {
        font-size: var(--36px);
    }

    .brandLogo img {
        width: var(--40px);
        height: var(--40px);
    }

    .brandLogo p {
        font-size: var(--20px);
        margin-top: var(--10px);
    }

    .customerService__title p {
        font-size: var(--20px);
    }

    .limitedOffer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--20px);
    }

    .limitedOffer img {
        width: 40%;
    }

    .limitedOffer__content {
        width: 40%;
    }

    #limitedOffer__title {
        margin-top: 0;
    }

    #limitedOffer__subTitle {
        font-size: var(--24px);
    }

    .limitedOffer .shopNowBtn {
        margin-top: var(--10px);
    }

    .footer {
        padding: var(--16px) var(--36px);
    }

    .socialMedia {
        grid-row: 1;
        grid-column: 3;
    }

    .dressCollections {
        flex-wrap: wrap;
        align-items: center;
        margin-top: 0;
    }
 
    .collections {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }

    .filter {
        padding-right: var(--16px);
        margin-right: var(--16px);
        border-right: 2px solid var(--black);
        width: 25%;
    }

    .filter h1 {
        margin-bottom: var(--10px);
    }

    .occassionFilter {
        grid-row: 1;
        grid-column: 1;
    }
    
    .coloursFilter {
        grid-row: 2;
        grid-column: 1;
    }
    
    .patternFilter {
        grid-row: 3;
        grid-column: 1;
    }
    
    .arrivalsFilter {
        grid-row: 4;
        grid-column: 1;
    }
}