* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #C6E7FF;
}

header {
    width: fit-content;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
    margin-bottom: 1rem;    
}

button {
    border: none;
    outline: none;
    padding: 10px 20px;
    background: #FFDDAE;
    border: 2px solid #fca730;
    border-radius: 30px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 4px 8px 5px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease-in-out;
}

button:hover {
    cursor: pointer;
    background: #ccffcc;
    border: 2px solid green;
}

.filter {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#inputBox {
    padding: 16px;
    border: none;
    outline: none;
    border: 2px solid #119bfd;
    border-radius: 30px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

#result {
    padding: 2rem;
    list-style-type: none;
}

#result li {
    margin-bottom: 1rem;
    border-radius: 20px;
    padding: 1rem;
}

#result li:nth-of-type(odd) {
    background: #D4F6FF;
}

#result li:nth-of-type(even) {
    background: #f4d9ff;
}

#result li h2 {
    margin-bottom: 1rem;
}

#result li p {
    font-size: 20px;
}

@media screen and (min-width: 425px) {
    .filter {
        flex-direction: row;
        gap: 8px;
    }
}